<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
    <f:switch expression="{layout}">
        <f:case value="1">
            <div class="hero-text-style1">
                <h1 class="{positionClass} mt0 mb10">
                    <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
                </h1>
            </div>
        </f:case>
        <f:case value="2">
            <div class="center-title mb50">
                <h2 class="{positionClass}">
                    <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
                </h2>
            </div>
        </f:case>
        <f:case value="3">
            <h3 class="{positionClass} text-white">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h3>
        </f:case>


        <f:case value="4">
            <h4 class="{positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h4>
        </f:case>

        <f:case value="5">
            <h5 class="{positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h5>
        </f:case>

        <f:case value="6">
            <h6 class="{positionClass}">
                <f:format.raw><f:link.typolink parameter="{link}">{header}</f:link.typolink></f:format.raw>
            </h6>
        </f:case>
        <f:case value="100">
            <f:comment> -- do not show header -- </f:comment>
        </f:case>
        <f:defaultCase>
            <f:if condition="{default}">
                <f:render partial="Header/Header" arguments="{
					header: header,
					layout: default,
					positionClass: positionClass,
					link: link}" />
            </f:if>
        </f:defaultCase>
    </f:switch>
</f:if>
</html>
