<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subheader}">
	<f:switch expression="{layout}">
		<f:case value="1">
			<p class="lead mb20 {positionClass}">
				{subheader}
			</p>
		</f:case>
		<f:case value="2">
			<p class="{positionClass} lead tritary-font font400 mb50">
				{subheader}
			</p>
		</f:case>
		<f:case value="3">
			<p class="{positionClass} lead">{subheader}</p>
		</f:case>
		<f:case value="4">
			<p class="{positionClass} lead tritary-font font400 mb50">
				{subheader}
			</p>
		</f:case>
		<f:case value="5">
			<p class="{positionClass} lead tritary-font font400 mb50">
				{subheader}
			</p>
		</f:case>
		<f:defaultCase>
			<f:if condition="{default}">
				<f:render partial="Header/SubHeader" arguments="{
					subheader: subheader,
					positionClass: positionClass,
					layout: default}" />
			</f:if>
		</f:defaultCase>
	</f:switch>
</f:if>
</html>
