<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{item.children}">
    <f:then>
        <li class="nav-item dropdown {f:if(condition:item.active, then:' active')}{f:if(condition:item.current, then:' current')}">
            <f:render partial="Navigation/Elements/Link" arguments="{item: item}"/>
    </f:then>
    <f:else>
        <li class="nav-item {f:if(condition:item.active, then:' active')}{f:if(condition:item.current, then:' current')}">
            <f:render partial="Navigation/Elements/Link" arguments="{item: item}"/>
    </f:else>
</f:if>

<f:comment><!--
<f:if condition="{item.spacer}">
    <f:then>
        <li class="nav-item dropdown {f:if(condition:item.spacer, then:' spacer')}">
            <span>{item.title}</span>
    </f:then>
    <f:else>
        <li class="nav-item dropdown {f:if(condition:item.active, then:' active')}{f:if(condition:item.current, then:' current')}">
            <f:render partial="Navigation/Elements/Link" arguments="{item: item}"/>
    </f:else>
</f:if>
--></f:comment>
</html>